.nav {
    width: 90vw;
    margin: auto;
    background-color: grey;
    box-shadow: 0 0 3px 3px black;
    height: 10vh;
    margin-bottom: 10px;
}

.nav h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px black;
    color: white;
    /* text-align: center; */
}